<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Online Compiler</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Online Compiler</h1>  

        <label for="code">Source code:</label>
        <textarea rows="20" cols="100"> </textarea>

        </br>
        </br>

        <label for="flags">Flags: </label>
        <textarea rows="5" cols="100"> </textarea>

        </br>
        </br>

        <input type="button" id="submit" value="Click to save">
        <script>
            const code = document.getElementById('code')
            const flags = document.getElementById('flags')
            const button = document.getElementById('button')

            function f()
            {
                console.log(`${code.value}`)
            }

            button.addEventListener('click', f)
        </script>
    </main>
  </body>
</html>
