<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Online Compiler</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Online Compiler</h1>  

        <label for="code">Source code:</label>
        <textarea id="codeInput" rows="20" cols="100"> </textarea>

        </br>
        </br>

        <label for="flags">Flags: </label>
        <textarea id="flagsInput" rows="5" cols="100"> </textarea>

        </br>
        </br>
        <button onclick="getSourceCodeFlagInput()" id="button">Submit</button>
        <script>
            function getSourceCodeFlagInput()
            {
                    var code = document.getElementById('codeInput')
                    var flags = document.getElementById('flagsInput')

                let xhr = new XMLHttpRequest()
                xhr.oepn('POST', '/')
                xhr.setRequestHeader('Content-Type', 'application/json')
                console.log(payload)
                let payloadString = JSON.stringify(payload)
                console.log(payloadString)
                xhr.send(payloadString)
            }
        </script>
    </main>
  </body>
</html>
